package main

templ Base(title string, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			@cssWriter{styles: siteCSS}
		</head>
		<body>
			<main>
				@content
			</main>
		</body>
	</html>
}

templ PageView(title string, bodyHTML string) {
	<article>
		<h1>{ title }</h1>
		@templ.Raw(bodyHTML)
	</article>
}

templ PageIndex(title string, bodyHTML string, pageListHTML string) {
	<article>
		<h1>{ title }</h1>
		@templ.Raw(pageListHTML)
		@templ.Raw(bodyHTML)
	</article>
}

